.home-profile img.rounded-full,
img.profile-avatar,
img[alt="Isla Hilton"] {
    border-radius: 0px !important;
}

.image-gap-above {
    padding-top: 1.5rem;
}

html:not(.dark) body,
html:not(.dark) .bg-neutral {
    background-color: #CACDFF !important;
}
